# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Uploads
uploads/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Testing
.pytest_cache/
htmlcov/
.coverage

#Test DATA sets
Dataset/

# Benchmark results
benchmark_results.json
benchmark_v2_results.json

# Postman
postman_openapi.json
